#content.container {
    width: 600px;
}

#header h1 {
    font-family: 'Passion One', arial, serif;
    margin: 0.5em auto;
    width: 4em;
}

h3.project {
    font-family: 'Inconsolata', 'Monaco', 'Consolas', monospace;
    font-weight: bold; /* ignored, huh? */
}

h3.project a {
    text-decoration: none;
}

h3.project a:hover {
    color: #555;
}

#header a {
    text-decoration: none;
}

#footer {
    clear: both;
    font-size: 80%;
    margin: 0.5em auto;
    text-align: right;
}

#splash {
    margin: 5em;
}

#ip {
    margin-left: 4em;
    font-size: 125%;
    font-family: 'Inconsolata', 'Monaco', 'Consolas', monospace;
}

p#ip.halted {
    text-decoration: line-through;
}

p#ip.bootstrapping {
    color: #333;
}

ul#users li {
    float: left;
    margin-right: 15px;
    margin-top: 10px;
}

div hr {
    margin: 15px 0;
}

div p#status {
    padding: 15px;
    float: right;
    font-weight: bold;
    margin: 0px;
}

div p#status.bootstrapping {
    color: orange;
}

div p#status.configuring {
    color: orange;
}

div p#status.ready {
    color: green;
}

div p#status.halted {
    color: brown;
}

div p#status.halting {
    color: brown;
}

div p#status.failed {
    color: red;
}

div p#status.unauthorized {
    color: red;
}

div p#status.error {
    color: red;
}

div p#status.timeout {
    color: red;
}

html kbd {
    font-family: 'Inconsolata', 'Monaco', 'Consolas', monospace;
}
