#content.container {
    width: 600px;
}

#header h1 {
    font-family: 'Passion One', arial, serif;
    margin: 0.5em auto;
    width: 4em;
}

#header a {
    text-decoration: none;
}

#footer {
    font-size: 80%;
    margin: 0.5em auto;
    text-align: right;
}

#splash {
    margin: 5em;
}

#ip {
    margin-left: 4em;
    font-size: 125%;
    font-family: Inconsolata, Consolas, monospace;
}

p#ip.halted {
    text-decoration: line-through;
}

p#ip.bootstrapping {
    color: #333;
}

ul#invitations {
    list-style-type: square;
    padding-left: 2em;
}

div hr {
    margin: 15px;
}

div p#status {
    padding: 15px;
    float: right;
    font-weight: bold;
}